<p>
	<small>
	<%= link_to_unless_current t('buttons.actions.view'), invoice_path(invoice) %>
	| <%= link_to_unless_current t('buttons.invoices.download_pdf'), invoice_path(invoice, :format => 'pdf') %>
	| <%= link_to_unless_current t('buttons.actions.edit'), edit_invoice_path(invoice) %>
	</small>
</p>
