<% if invoice.errors.any? %>
	<div id="error_explanation" class="alert-message block-message error">
	  <a class="close" data-dismiss="alert" href="#">&times;</a>

	  <h2><%= t("views.invoices._errors.title") %></h2>

    <ul>
    <% invoice.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
