<% title t("views.invoices.edit.title", state: @invoice.state, number: @invoice.invoice_number) %>

<div class="page-header">
	<%= render "invoices/buttons_and_links", invoice: @invoice %>

	<h1><%= yield :title %></h1>
</div>

<%= render 'form' %>
