<% title t("views.invoices.index.title") %>

<div class="page-header">
	<div class="row">
		<div class="span13">
			<h1><%= yield :title %></h1>
		</div>
		<div class="span3 add">
			<%= link_to t("views.invoices.index.buttons.add_an_invoice"), new_invoice_path, class:  "btn" %>
		</div>
	</div>
</div>

<table>
<% @invoices.each do |invoice| %>
  <tr>
    <td><h3><%= link_to invoice.client.name, invoice %></h3></td>
  </tr>
<% end %>
</table>

<br />
