<% title t("views.invoices.unpaid.title") %>

<div class="page-header">
	<div class="row">
		<div class="span9">
			<h1><%= yield :title %></h1>
		</div>
		<div class="span3 add">
			<%= link_to t("views.invoices.unpaid.buttons.add_an_invoice"), new_invoice_path, class:  "btn" %>
		</div>
	</div>
</div>

<%= render "invoices", invoices: @invoices %>
