<h2><%= t('views.organisations._organisation_has_no_clients.title') %></h2>

<p><%=raw t('views.organisations._organisation_has_no_clients.copy.p1') %></p>
<p><%= link_to t('views.organisations._organisation_has_no_clients.links.create_a_client'), new_client_path, class:  "btn primary x-large" %>
