<% title t("views.organisations.new.title") %>

<div class="page-header">
	<h1><%= yield :title %></h1>

	<p class="hint"><%=raw t("views.organisations.new.hints.organisation") %></p>
</div>

<%= render "form" %>
