<% title t("views.clients.show.title", client_name: @client.name) %>

<div class="page-header">
	<h1>
		<%= @client.name %><br />
		<small><%= t("views.clients.show.copy.client_of", organisation_name: @client.organisation.name ) %></small>
	</h1>
</div>

