<h2><%= t("views.welcome.signed_in_home._user_has_no_organisations.title") %></h2>

<p><%=raw t("views.welcome.signed_in_home._user_has_no_organisations.body.p1", :application_name => t("application.name")) %></p>
<p><%= link_to t("views.welcome.signed_in_home._user_has_no_organisations.buttons.create_an_organisation"), new_organisation_path, class:  "btn primary x-large" %>
