#invoice {
	padding-bottom: 3em;
}

#header {
	border-bottom: 1px solid #eeeeee;	
}

#header .actions {
	text-align: right;
}

#addresses {
	margin-top: 3em;
}

#dates {
	margin-top: 3em;
}

#line_items {
	margin-top: 3em;
}

#description {
	margin-top: 3em;
}

#description .description {
	font-size: 1.5em;
	line-height: 1.3em;
}

#notes {
	text-align: right;
	margin-top: 3em;
}

#terms {
	text-align: right;
	margin-top: 3em;
}

.quantity,
.cost,
.total,
.currency_total .units,
.currency_total .total {
	text-align: right;
}
