#invoice {
	padding-bottom: 3em;
}

#invoice #header {
	border-bottom: 1px solid #eeeeee;	
}

#invoice #addresses {
	margin-top: 3em;
}

#invoice #dates {
	margin-top: 3em;
}

#invoice #line_items {
	margin-top: 3em;
}

#invoice #description {
	margin-top: 3em;
}

#invoice #description .description {
	font-size: 1.5em;
	line-height: 1.3em;
}

#invoice #notes {
	text-align: right;
	margin-top: 3em;
}

#invoice #terms {
	text-align: right;
	margin-top: 3em;
}

#invoice .quantity,
#invoice .cost,
#invoice .total,
#invoice .currency_total .units,
#invoice .currency_total .total {
	text-align: right;
}
