#receipt #description {
	margin-top: 2em;
}

#receipt #description .description {
	font-size: 1.5em;
	line-height: 1.3em;
}

#receipt #notes {
	margin-top: 2em;
}

#receipts_table .amount,
#receipts_table .buttons_and_links,
#receipts_table .receipt_number {
	text-align: right;	
}
