html {
	/*
		Hack to fix non-tiling background.
		https://groups.google.com/d/topic/twitter-bootstrap/fzLstFf7KH0/discussion
	*/
	background-color: transparent;
}

body {
	padding-top: 40px;
	background-color: #eeeeee;
}

footer {
	text-align: center;
}

.translation_missing {
	/* Visual cue to translate text */
	background: red;
}

.alert-message {
  /* padding: 20px 20px 10px; */
  margin: -20px -23px 20px;
}

.control-group .controls {
	padding-bottom: 1em;
}

.container {
  background-color: #fff;
  padding: 20px;
	/* margin: 0 -20px; negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.page-header .add {
	text-align: right;
}

.page-header .add .btn {
	text-align: center;
}

.buttons_and_links,
.buttons_and_links_bar {
	text-align: right;
}

.field_with_errors label {
	color: #ff5e5d;
	font-weight: bold;
}

.content {
	min-height: 300px;
}

#page {
	min-height: 300px;
}
