<ul class="nav">
	<li id="tab_organisations_dropdown" class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<%= t("views.application._navigation.links.switch_to") %>
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li id="tab_create_organisation"><%= link_to t("views.application._navigation.links.create_an_organisation"), new_organisation_url(:host => request.domain) %></li>
			<li class="divider"></li>
			<% current_user.organisations.each do |organisation| %>
				<% if organisation == @current_organisation %>
					<%# Do nothing %>
				<% else %>
					<li id="tab_<%= organisation.subdomain %>"><%= link_to organisation.name, root_url(:subdomain => organisation.subdomain) %></li>
				<% end %>
			<% end %>
		</ul>
	</li>
</ul>
