<li id="tab_units_dropdown" class="dropdown" data-dropdown="dropdown" >
	<a href="#" class="dropdown-toggle"><%= t("views.application._navigation.links.units_balance", :units => number_to_currency(current_user.units, :unit => "")) %></a>
	<ul class="dropdown-menu">
		<li><%= link_to t("views.application._navigation.links.purchase_units"), "purchase_unites" %></li>
	</ul>
</li>
