<li id="tab_sign_out" class="dropdown">
	<a href="#" class="dropdown-toggle" data-dropdown="true"><%= truncate(current_user.name, :length => 20) %></a>
	<ul class="dropdown-menu">
		<li><%= link_to t("views.application._navigation.links.user_settings"), user_settings_path %></li>
		<li class="divider"></li>
		<li><%= link_to t("views.application._navigation.links.sign_out"), sign_out_path %></li>
	</ul>
</li>
