<% title t("views.receipts.edit.title", number: @receipt.receipt_number) %>

<div class="page-header">
	<%= render "receipts/buttons_and_links", receipt: @receipt %>
	<h1><%= yield :title %></h1>
</div>

<%= render 'form' %>
