<% title t("views.receipts.index.title") %>

<div class="page-header">
	<div class="row">
		<div class="span9">
			<h1><%= yield :title %></h1>
		</div>
		<div class="span3 add">
			<%= link_to t("views.receipts.clickables.buttons.add_a_receipt"), new_receipt_path, class:  "btn" %>
		</div>
	</div>
</div>

<%= render "receipts", receipts: @receipts %>
